#if (${val-errorMessage})
	<div style="background: red; color: white">${val-errorMessage}</div>
#else  
	The field 
	#if (${val-fieldSelected})
		<b>$textutils.htmlEncode(${val-fieldSelected.name})</b>
	#end 
 	will have to be 
	#if (${val-conditionSelected})
		<b>$textutils.htmlEncode(${val-conditionSelected.toString()})</b>
	#end
 	value 
	#if (!${val-fieldValue.equals("")})
		<b>$textutils.htmlEncode(${val-fieldValue.toString()})</b>
	#else
		<b>NULL</b>
	#end
	. Compared like 
	#if (${val-comparisonTypeSelected})
		<b>$textutils.htmlEncode(${val-comparisonTypeSelected.value})</b>
	#end
	.
#end